{% extends "base.html.twig" %}
{% block title %}
	Catégorie

{% endblock %}

{% block body %}
	<ol class="breadcrumb" style="padding:10px">
		<li class="breadcrumb-item">
			<a href="{{ path('homePage') }}">Home</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{path('product_category',{'slug':product.category.slug})}}">{{product.category.name}}</a>
		</li>
		<li class="breadcrumb-item active">{{product.name}}</li>
	</ol>
	<h4 style="text-align: center;padding:30px">Produit :
		{{product.name}}
		({{product.price/100}}
		&euro;)</h4>
	<div class="row">
		<div class="col-4">
			<img src="{{product.picture}}" class=" img-fluid" alt=" image for product">
		</div>
		<div class="col">
			<span>
				<strong>{{product.category.name}}</strong>
			</span>
			<p>{{product.shortDesc}}</p>
			<hr>
			<br>
			{% if app.user %}
				<div class="col-12">
					{{ form_start(formComment, {'action': path('comment_add', {'product_id': product.id }), 'method': 'POST'}) }}
					{{form_start(formComment)}}
					{{form_errors(formComment)}}
					{{form_widget(formComment)}}

					<button class="submit btn btn-primary" style="margin-top:30px">
						<i class="fas fas-save"></i>
						Commenter</button>
					{{form_end(formComment)}}
				</div>
			{% else %}
				<h5>
					Pour écrire un commentaire il faut t'insrire!</h5>
			{% endif %}
			<hr>
			<div class="row">
				<h5>
					{% if aComments %}
						Commentaires :
						{{aComments|length}}
					{% else %}
						Pas de commentaire
					{% endif %}
				</h5>
				{% for comment in aComments %}


					<div class="row" style="margin-top:3em">
						<div class="col-9">
							<blockquote>
								<em>{{comment.comment}}</em>
							</blockquote>
						</div>
						<div class="col-3" style="text-align: right;">
							{% if app.user %}
								{% if  app.user.id == comment.user.id %}
									<a href='/comment/delete/{{comment.id}}' style="color: red;font-size: 13px;" onclick="return window.confirm(`Êtes vous sûr de vouloir supprimer ce commentaire ?!`)">Supprimer</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<div class="col-12">
						<small>Commentaire publié le:
							{{comment.createdAt |format_datetime(locale='fr')}}
							par
							{{comment.user.fullName}}

						</small>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>{% endblock %}
